---
import {titleVariants} from '@utils/getColor.js';
type Variant = keyof typeof titleVariants;
interface Props {
  href?: string;
  class?: string;
  variant?: Variant;
  attributes?: Record<string, unknown>;
}
const { href, class: className, attributes, variant = 'default', ...props} = Astro.props;
const variantClasses = titleVariants[variant] || titleVariants.default;
---
 {
   href ? (
     <a href=
      {href} 
      {...attributes}  
      class={`p-3 text-center rounded-md font-bold cursor-pointer max-w-[max-content] ${variantClasses} ${className}`} 
      {...props}>
       <slot />
     </a>
   ) : (
     <button {...attributes} class={` ${variantClasses} ${className}  ${attributes?.disabled && 'disabled:opacity-50 disabled:cursor-not-allowed'}`} {...props}>
       <slot />
     </button>
   )
 }